# Домашнее задание (Введение в машинное обучение)

##### Заполните код в клетках для ответа на вопрос

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Для проверки навыков исследования данных используем датасет "Титаник" его описание можно прочитать на [kaggle](https://www.kaggle.com/c/titanic/data)

Считаем данные из файла в память в виде объекта Pandas.DataFrame

In [ ]:
DATA_PATH = 'titanic_train.csv'
df = pd.read_csv(DATA_PATH)

:

In [ ]:
df.head()

:

##### 1. Сколько мужчин / женщин находилось на борту?

Напишите код и правильный вариант ответа

1) 412 мужчин и 479 женщин

2) 314 мужчин и 577 женщин

3) 479 мужчин и 412 женщин

4) 577 мужчин и 314 женщин

In [ ]:
df['Sex'].value_counts()

:

In [ ]:
# Ваш код здесь
df['Sex'].value_counts()
# 314 женщин и 577 мужчин

:

#####  2. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса?

Напишите код и правильный вариант ответа

1) 104

2) 108

3) 112

4) 125

In [ ]:
# Ваш код здесь
(df[(df['Sex'] == 'male') & (df['Pclass'] == 2)]).count(1)
#length 108

:

#####  3. Каковы медиана и стандартное отклонение платежей (Fare)?

Напишите код и правильный вариант ответа

1) Медиана – 14.45, стандартное отклонение – 49.69

2) Медиана – 15.1, стандартное отклонение – 12.15

3) Медиана – 13.15, стандартное отклонение – 35.3

4) Медиана – 17.43, стандартное отклонение – 39.1

In [ ]:
# Ваш код здесь
print(df['Fare'].median())
print(df['Fare'].std())

#14.45  49.69

:

##### 4. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

Напишите код и правильный вариант ответа

1) 22.7% среди молодых и 40.6% среди старых

2) 40.6% среди молодых и 22.7% среди старых

3) 35.3% среди молодых и 27.4% среди старых

4) 27.4% среди молодых и 35.3% среди старых

In [ ]:
# Ваш код здесь
df_30 = df[(df['Age'] < 30)]
df_60 = df[(df['Age'] > 60)]
print(df_30['Survived'].value_counts(normalize = True))
print(df_60['Survived'].value_counts(normalize = True))

#40.6  22.7

:

##### 5. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

Напишите код и правильный вариант ответа

1) 30.2% среди мужчин и 46.2% среди женщин

2) 35.7% среди мужчин и 74.2% среди женщин

3) 21.1% среди мужчин и 46.2% среди женщин

4) 18.9% среди мужчин и 74.2% среди женщин

In [ ]:
# Ваш код здесь
df_f = df[(df['Sex'] == 'female')]
df_m = df[(df['Sex'] == 'male')]
print(df_f['Survived'].value_counts(normalize = True))
print(df_m['Survived'].value_counts(normalize = True))

#18.9   74.2

:

##### 6. Сравните распределение стоимости билетов и возраста у спасенных и у погибших. Средний возраст погибших выше, верно?

Напишите код и правильный вариант ответа

1. Да

2. Нет

In [ ]:
# Ваш код здесь
df_alive = df[(df['Survived'] == 1)]
df_death = df[(df['Survived'] == 0)]

print('fare')

print(df_alive['Fare'].value_counts(normalize = True))
print(df_death['Fare'].value_counts(normalize = True))

print('age')

print(df_alive['Age'].value_counts(normalize = True))
print(df_death['Age'].value_counts(normalize = True))

print('mean_age')

print(df_alive['Age'].mean())
print(df_death['Age'].mean())

#да

:

##### 7. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:

Напишите код и правильный вариант ответа

1. В среднем мужчины 1-го класса старше 40 лет

2. В среднем женщины 1-го класса старше 40 лет

3. Мужчины всех классов в среднем старше женщин того же класса

4. В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

In [ ]:
# Ваш код здесь
print(1)
print('m')
print(df_m[(df_m['Pclass'] == 1)]['Age'].mean())
print('f')
print(df_f[(df_f['Pclass'] == 1)]['Age'].mean())
print('total')
print(df[(df['Pclass'] == 1)]['Age'].mean())
print(2)
print('m')
print(df_m[(df_m['Pclass'] == 2)]['Age'].mean())
print('f')
print(df_f[(df_f['Pclass'] == 2)]['Age'].mean())
print('total')
print(df[(df['Pclass'] == 2)]['Age'].mean())
print(3)
print('m')
print(df_m[(df_m['Pclass'] == 3)]['Age'].mean())
print('f')
print(df_f[(df_f['Pclass'] == 3)]['Age'].mean())
print('total')
print(df[(df['Pclass'] == 3)]['Age'].mean())

#1, 3, 4

:

##### 8. Постройте попарные зависимости признаков Age, Fare, Pclass, Sex, SibSp, Parch, Embarked и Survived. (метод scatter_matrix Pandas или pairplot Seaborn).

Напишите код и визуализируйте

In [ ]:
# Ваш код здесь

#sns.pairplot(df['Age', 'Fare', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked', 'Survived'])
sb = df.drop(['PassengerId'], axis=1)


sns.pairplot(sb)

: